<span class="card-title blue-grey-text" style="font-weight: 300; font-size:44px; margin-bottom:1rem;"><%= @exchanges.first.page_title %></span>
<p style="font-size: 20px;"><%= @exchanges.first.page_description %></p>