<div class="row">
	<div class="col s12 m12 l12">
	  <div class="card">
	    <div class="card-image">
	      <img class="entity_background" style="height: 200px">
	    </div>
	    <div class="card-content">
			<%= render :partial => "/exchanges/index_card_content" %>	      
	    </div>
	  </div>
	</div>
</div>
<!-- here we provide a list of the items -->
<!-- with links to them -->
<!-- so that should be simple enough, with the required links -->
<%= render :partial => "/exchanges/components" %>