<footer class="page-footer blue-grey white-text">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Algorini - Stock Market Search Engine</h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">More</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/our_story">Our Story</a></li>
          <li><a class="grey-text text-lighten-3" href="/search_to_predict">Search To Predict</a></li>
          <li><a class="grey-text text-lighten-3" href="/exchanges">Exchanges</a></li>
          <li><a class="grey-text text-lighten-3" href="/stocks">Stocks</a></li>
          <li><a class="grey-text text-lighten-3" href="/indicators">Indicators</a></li>
          <li><a class="grey-text text-lighten-3" href="/">home</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020-25 Copyright Algorini, All rights reserved
    </div>
  </div>
</footer>