<div class="container">
	<div class="row" id="logo" style="margin-bottom: 0px !important;">
		<div class="col l12 m12 s12 center">
		<img src="/assets/algorini.png" style="height: 200px; width:auto;%" />
		</div>
	</div>
	<div class="row" style="margin-top:1rem !important;">
		<div class="col s12 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 class="z-depth-1 shadow-demo amber center white-text" style="padding: 2rem; margin-top:0px;">FOREX</h4>
	    </div>
	    <div class="col s12 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 class="z-depth-2 shadow-demo blue-grey center white-text" style="padding: 2rem;  margin-top:0px;">DOW</h4>
	    </div>
	    <div class="col s12 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 class="z-depth-3 shadow-demo amber center white-text" style="padding: 2rem;  margin-top:0px;">DAX</h4>
	    </div>
	    <div class="col s12 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 class="z-depth-4 shadow-demo blue-grey center white-text" style="padding: 2rem;  margin-top:0px;">CAC</h4>
	    </div>
	    <div class="col s12 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 class="z-depth-5 shadow-demo amber  center white-text" style="padding: 2rem; margin-top:0px;">NIFTY</h4>
	    </div>
	    <div class="col s12 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 class="z-depth-5 shadow-demo blue-grey center white-text" style="padding: 2rem; margin-top:0px;">OIL</h4>
	    </div>
	</div>
	<!--
	-->
	<div class="row">
		<nav class="white">
		    <div class="nav-wrapper">
		      <form>
		        <div class="input-field">
		          <input id="search" type="search" placeholder="What if I buy Nasdaq today?" required>
		          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
		          <i class="material-icons">close</i>
		        </div>
		      </form>
		    </div>
		</nav>
	</div>

	<!-- HOLDER FOR SEARCH RESULTS -->
	<div class="row" style="margin-top:2rem">
		<div class="search_results" id="search_results">
			
		</div>
	</div>

	<div class="row center quote_holder" style="margin-top:6rem;">
		<div class="grey-text quote" style="font-size:14px; margin-top:5rem; display:none;">
			“Probabilities guide the decisions of the wise.”<br><span class="blue-grey-text">Marcus Tullius Cicero, Roman Philosopher, 63 BC</span>
		</div>
		<div class="grey-text quote" style="font-size:14px; margin-top:5rem; display:none;">
			Because, there is no joy in the finite. True bliss is in the infinite<br><span class="blue-grey-text">Chandogya Upanishad, 8 BCE</span>
		</div>
		<div class="grey-text quote" style="font-size:14px; margin-top:5rem; display:none;">
			"There's nothing in the world so demoralizing as money"<br><span class="blue-grey-text">Sophocles, 497 BCE</span>
		</div>
		<div class="grey-text quote" style="font-size:14px; margin-top:5rem; display:none;">
			"After a certain point, money is meaningless. It ceases to be the goal. The game is what counts"<br><span class="blue-grey-text">Aristotle Onassis, Greek Shipping Billionaire (1906 - 1975)</span>
		</div>
		<div class="grey-text quote" style="font-size:14px; margin-top:5rem; display:none;">
			“Let your hook always be cast; in the pool where you least expect it, there will be a fish.”<br><span class="blue-grey-text">Publius Ovidius Naso(Ovid), Roman Poet, 17 AD</span>
		</div>
		<div class="grey-text quote" style="font-size:14px; margin-top:5rem; display:none;">
			I paraphrase Lord Rothschild: ‘The time to buy is when there's blood on the streets.'<br><span class="blue-grey-text">David Dreman <br> Author - Contrarian Investment Strategies: The Psychological Edge.</span>
		</div>
		<div class="grey-text quote" style="font-size:14px; margin-top:5rem; display:none;">
			Start a fight. Prove you're alive. If you don't claim your humanity you will become a <b><i>statistic</i></b>. You have been warned.<br><span class="blue-grey-text">Chuck Palahnuick - The Fight Club</span>
		</div>
		<div class="grey-text quote" style="font-size:14px; margin-top:5rem; display:none;">
			Remember that you are a black swan<br><span class="blue-grey-text">Nassim Nicholas Taleb, The Black Swan : The Impact of the Highly Improbable</span>
		</div>
		<div class="divider col l2 m2 s2 offset-l5 offset-m5 offset-s5" style="margin-top:1rem;">
		</div>
	</div>

</div>


