<div id="blue" class="block blue">
  <nav class="pushpin-demo-nav" data-target="blue">
    <div class="nav-wrapper light-blue">
      <div class="container">
      </div>
    </div>
  </nav>
  <div class="center" style="padding: 10rem;">
    <h3 class="white-text">Our Story</h3>
    <h5 class="white-text">Playing the stock market, is all about knowing the odds. The data is out there, waiting to be crunched. <br>
    “Do not follow the mentally lazy habit of allowing a newspaper or a broker or a wise friend to do our security market thinking.” - Victor Neiderhoffer</h5>
  </div>
</div>

<div id="red" class="block red lighten-1">
  <nav class="pushpin-demo-nav" data-target="red">
    <div class="nav-wrapper red">
      <div class="container">
      </div>
    </div>
  </nav>
  <div class="center" style="padding: 10rem;">
    <h3 class="white-text">House-Wife Friendly</h3>
    <h5 class="white-text">We wanted to build a stock market correlation engine that helped housewives make simple trading decisions.</h5>
    <h5 class="white-text">It couldn't be simpler than simply searching for your favorite stocks.</h5>
  </div>
</div>

<div id="green" class="block green lighten-1">
  <nav class="pushpin-demo-nav" data-target="green">
    <div class="nav-wrapper green">
      <div class="container">
      </div>
    </div>
  </nav>
  <div class="center" style="padding: 10rem;">
    <h3 class="white-text">Leave it to the doctors</h3>
    <h5 class="white-text">Algorini was built by 2 medical students.</h5>
    <h5 class="white-text">We're not from the stock trading fraternity, we don't know the rules, and we don't think they matter.</h5>
  </div>
</div>

<div style="height:30vh;"></div>