<% content_for :twitter_card do %>
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="<%= @algorinie %>" />
	<meta name="twitter:title" id="twitter_title" content="title" />
	<meta name="twitter:description" id="twitter_description" content="Description" />
	<meta name="twitter:image" id="twitter_image" content="https://quickchart.io/chart?c={type:'bar',data:{labels:[2012,2013,2014,2015,2016],datasets:[{label:'Users',data:[120,60,50,180,120]}]}}" />
<% end %>
<!-- lets upload this much and see -->
<div id="_result" data-result="<%= JSON.generate(@result) %>"></div>
<% @image = Image.new %>
<%= render :partial => "images/form" %>
<!-- we will have a bunch of pre-rendered images , saying up or down -->
<!-- the chart or d3 we can show on the main page -->
<!-- the other major problem, i need to start on that -->
<!-- so today is d3, and the server side lock issue to be sorted -->