<% content_for :twitter_card do %>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="<%= @twitter_username %>" />
	<meta name="twitter:title" id="twitter_title" content="title" />
	<meta name="twitter:description" id="twitter_description" content="Description" />
	<meta name="twitter:image" id="twitter_image" content="https://dummyimage.com/600x400/000/fff" />
<% end %>
<!-- lets upload this much and see -->
<div id="_result" data-result="<%= JSON.generate(@result) %>"></div>