<script type="text/template" id="search_result_template">
      <div class="card">
        <div class="card-content grey-text text-lighten-1" style="padding-bottom:5px !important;">
          <span class="card-title" style="font-weight:600 !important; font-size:26px !important;">
            
            <i class="{{= search_result.entity_icon}}"></i>
            {{= search_result.setup }}
            {{ if(search_result.setup_exit){ }}
               and {{= search_result.trade_action_end_name }} when 
               {{= search_result.setup_exit }}
            {{ } }}
          </span>
          
          {{ first_impact = search_result.impacts[0] }}
          <p class="{{= first_impact.statistics[0].bar_color }}-text text-darken-2" style="font-size:22px; font-weight:600;">{{= first_impact.effect }}</p>
          <div class="row" style="width:50%; margin-top:1rem !important; margin-left:0px !important;">

            {{ if(_.size(search_result.impacts[0].statistics[0].gold_coins) > _.size(search_result.impacts[0].statistics[0].other_coins))  { }}
              <span style="font-size:22px; font-weight:400;" class="amber-text"><i class="material-icons">trending_up</i>{{= search_result.target }} tends to rise</span>
            {{ } else { }}
              <span style="font-size:22px; font-weight:400;" class="red-text"><i class="material-icons">trending_down</i>{{= search_result.target }} tends to fall</span>
            {{ } }}

            

          </div>
         
          <div class="row additional_info" style="display:none; margin-top: 2rem;">
            {{ var column_width = 12/first_impact.statistics.length; }}
            {{ _.each(first_impact.statistics,function(statistic){  }}
              <div class="col l{{= column_width }} m{{= column_width }} s{{= column_width }} center">
                <div class="grey-text" style="font-size:22px;">After {{= statistic.time_frame_name }}</div>
                <div class="total up_down">
                  <span class="{{= statistic.up_down_text_color }}-text">{{= statistic.up_down_text }}</span>
                </div>
              </div>
            {{ }); }}
           
          </div>
          
          <div class="row plain_stats" style="display:none; margin-top: 1rem;">
           
            <div class="divider" style="margin-bottom: 2rem; margin-top: 2rem;"></div>
            {{  _.each(first_impact.statistics,function(val,key,list){  }}
              <div class="{{= val.time_frame_name }}">
                <div class="row profit_loss">
                  <div class="col l3 m3 s3 center">
                    <div class="blue-grey-text text-lighten-1"><i class="material-icons"  style="font-size: 24px;">timeline</i></div>
                    <div class="grey-text text-darken-1">Over {{= val.time_frame_name }}</div>
                  </div>
                  <div class="col l4 m4 s4 center">
                    <div class="grey-text text-lighten-1" style="font-size: 24px;">Most Profitable Trade</div>
                    <div class="amber-text" style="font-size: 18px;">{{= val.maximum_profit/10 }}%</div>
                  </div>
                  <div class="col l4 m4 s4 center">
                    <div class="grey-text text-lighten-1" style="font-size: 24px;">Least Profitable Trade</div>
                    <div class="black-text" style="font-size: 18px;">{{= val.maximum_loss/10 }}%</div>
                  </div>
                </div>
                <div class="divider" style="margin-bottom: 2rem; margin-top: 2rem;"></div>
              </div>
            {{ }) }}
          </div>  
          
        </div>
        
        <div class="center grey-text text-lighten-1 fs-8" style="font-weight:500; padding-bottom:10px !important;">
          <span class="see_more" style="cursor:pointer;">Up & Down</span>
          <span  style="margin-left: 1rem; margin-right: 1rem;"></span>
          <span class="plain_trading" style="cursor:pointer;">Profit & Loss</span>
          <span  style="margin-left: 1rem; margin-right: 1rem;"></span>
          
        </div>
      </div>
</script>